h2,
h3,
h4 {
  color: #343F64;
  font-size: 26px;
}

h5 {
  font-size: 20px;
  color: #383632;
}

.content-section p {
  font-size: 16px;
  color: #343F64;
}

/*style*/

.header-image {
  height: 60vh;
  background: url(../img/baim-hanif-pYWuOMhtc6k-unsplash.jpg) no-repeat center / cover;
}

.header-image img {
  width: 100%;
  object-fit: cover;
}

.content-section .container {
  max-width: 1200px;
  margin: auto;
  background: #fff;
}

section.director {
  padding-top: 90px;
}

/*room*/

.rooms {
  margin-top: 120px;
  width: 100%;
  background: #fff;
}

.rooms p {
  font-size: 16px;
  line-height: 1.6em;
}

.rooms_poragraph {
  display: block;
  margin: 30px auto 20px;
  text-align: center;
  width: 80%;
}

.rooms_content {
  margin: auto;
}

.room-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 120px 30px;
  font-size: 30px;
  max-height: 100%;
  overflow-y: auto;
}

.room-box-img,
.room-box-desc {
  flex: 1 1 100%;
}

.room-box-img {
  height: 300px;
  background-size: cover;
  box-shadow: inset 0 0 13px 13px #fff;
}

.room-box:nth-child(2n) .room-box-img {
  margin-left: 5%;
}

.room-box:nth-child(2n+1) .room-box-img {
  margin-right: 5%;
}

.room-box-desc {
  padding: 0 5%;
}

#slider-control {
  display: none;
}

/*director*/

.director_img {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  height: 286px;
}


.box_tit {
  text-align: center;
  margin-bottom: 40px;
}

.box-tit-q {
  margin: auto;
  width: 70%;
  text-align: center;
  font-style: italic;
}


.box-tit-q q::before,
.box-tit-q q::after {
  content: ',,,';
  font-family: 'Times New Roman', sans-serif;
  font-size: 60px;
  line-height: 20px;
  display: block;
}

.box-tit-q q::before {
  transform: rotate(180deg);
}

.box-tit-q p {
  font-size: 17px;
}

.director {
  max-width: 870px;
  margin: auto;
}

.director_box {
  padding: 0 10px;
}

.director_content_box {
  margin-right: 20px; 
}

.director-box-bottom {
  display: flex;
}

.director_poragraph {
  flex: 1 0;
  line-height: 2em;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.director-signature {
  color: #343F64;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}

.history-block {
  max-width: 800px;
  padding: 0 10px;
  margin: 150px auto 70px;
}

.history-block h2 {
  text-align: center;
  margin: 60px 0 30px;
}

.history-block p {
  font-family: 'Georgia', 'Arial', sans-serif;
  margin: 1.4em 0;
  line-height: 1.5em;
  font-size: 18px;
}

.block h2 {
  justify-content: center;
  text-align: center;
  display: flex;
  margin: auto;
}

.block img {
  float: left;
}

@media screen and (max-width: 1200px) {
  .header-image {
    height: 50vh;
  }
}

@media screen and (max-width: 920px) {
  section.director {
    padding: 30px 20px 0;
  }

  .box_tit {
    margin-bottom: 20px;
  }

  .rooms {
    margin-top: 80px;
  }

  .rooms_poragraph {
    position: relative;
  }

  p.rooms-desc {
    line-height: 1.4em;
  }

  .rooms_content {
    display: flex;
    overflow: hidden;
    margin-top: 30px;
  }

  .room-box-img,
  .room-box-desc {
    flex: initial;
  }

  .room-box {
    flex-direction: column;
    transition: transform 1s;
    justify-content: flex-start;
    margin: 0;
    padding: 0 10%;
    min-width: 100%;
    max-width: 100%;
    height: 60vh;
    overflow: auto;
  }

  .room-box-img {
    order: -1;
    height: 300px;
    min-height: 300px;
    width: 80%;
    margin: 0 0 30px !important;
  }

  p.room-box-desc {
    line-height: 1.4em;
    padding: 0;
  }

  .box-tit-q {
    margin-top: 40px;
  }

  #slider-control {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px;
    position: relative;
  }

  #slider-control::before,
  .rooms_poragraph::after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    background: #343F64;
    position: absolute;
    top: -10px
  }

  .rooms_poragraph::after {
    transform: translateX(-50%);
    width: 70%;
    left: 50%;
    top: initial;
    bottom: -15px;
  }

  #slider-control button {
    background: initial;
    border: initial;
    font-family: inherit;
    font-size: 17px;
    color: #343F64;
    padding: 10px;
    margin: 0 5px;
    position: relative;
  }

  #slider-control .slider-to-prev::after,
  #slider-control .slider-to-next::after {
    content: '→';
    display: block;
    font-size: 60px;
    position: absolute;
    bottom: calc(-100% + 10px);
    left: 30px;
  }

  #slider-control .slider-to-prev::after {
    content: '←';
    left: initial;
    right: 30px;
  }

  .history-block {
    margin-top: 70px;
  }
}

@media screen and (max-width: 820px) {
  .director_poragraph p {
    font-size: 14px;
  }

  .history-block p {
    font-size: 17px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .box_tit {
    margin-bottom: 20px;
  }

  .director-box-bottom {
    flex-direction: column;
  }

  .director_poragraph p {
    text-indent: 2em;
  }

  .director_img {
    float: initial;
    margin: auto;
    margin-bottom: 2em;
    max-width: 60%;
    justify-content: center;
  }

  .history-block p {
    font-size: 15px;
  }

  .box-tit-q p {
    font-size: 14px;
  }

  .box-tit-q q::before,
  .box-tit-q q::after {
    font-size: 50px;
    line-height: 0;
  }

  .rooms p {
    font-size: 14px;
    line-height: 1.4em;
  }

  .room-box-img {
    min-height: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .rooms_poragraph {
    width: 90%;
    text-align: left;
    margin-top: 0;
  }

  .director_img {
    max-width: 80%;
  }

  section.rooms {
    margin-top: 45px;
  }

  .box_tit {
    margin-bottom: 10px;
  }

  .room-box {
    padding: 0 10px;
  }

  .room-box-img {
    height: 180px;
  }

  .history-block p {
    padding: 0 10px;
  }

  #slider-control::before,
  .rooms_poragraph::after {
    width: 90%;
  }
}