/*шрифты*/

h2,
h3,
h4 {
  color: #343F64;
}

h5 {
  font-size: 20px;
  color: #383632;
}

.header-banner {
  width: 100%;
  height: 60vh;
  background: url(../img/baim-hanif-pYWuOMhtc6k-unsplash.jpg) no-repeat center top / cover;
}

.content-section .container {
  max-width: 800px;
}

.content_box {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.contact_tit {
  text-align: center;
  margin: 90px auto 50px;
}

.contact_content {
  display: block;
}

@media(max-width: 720px) {
  .contact_content {
    width: 50vw;
  }
}

.forms_box {
  display: flex;
  color: #343F64;
  font-size: 14px;
  line-height: 1.6em;
  margin-bottom: 105px;
}

.forms_box .left_box,
.forms_box .right_box {
  flex: 1 1 100%;
}

.form {
  margin-top: 25px;
}

.left_box {
  margin-right: 45px;
}

.form textarea,
.form input {
  padding: 5px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.4em;
  -webkit-appearance: none;
  border: 1px solid rgba(52, 63, 100, 1);
  color: #1A2032;
  margin: 0 0 5px;
  width: 100%;
}

.form textarea {
  min-height: 130px;
  resize: vertical;
}

.form button[type=submit] {
  background: #E9DB89;
  font-family: inherit;
  color: #343F64;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  float: right;
}

.right_box {
  width: 20vw;
  float: right;
}

.contact-declaration {
  color: #69718B;
}

.contact-declaration::after {
  content: '';
  display: block;
  height: 3px;
  width: 60px;
  background: #E9DB89;
  margin: 45px 0;
}

.contact-detailes {
  font-size: 14px;
  line-height: 1.6em;
  color: #343F64;
}

.contact-address {
  margin-bottom: 22px;
}

@media screen and (max-width: 850px) {
  .content-section .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  .contact_tit {
    text-align: center;
    margin: 50px auto 30px;
  }

  .content-section .container {
    max-width: 500px;
  }

  .forms_box {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .left_box {
    margin: 0;
  }

  .contact-declaration::after {
    margin: 30px 0;
  }

  .right_box {
    width: 100%;
    margin-top: 30px;
  }
}