.main>.container {
  max-width: 700px;
}

.header-banner {
  height: 60vh;
  background: url(../img/baim-hanif-pYWuOMhtc6k-unsplash.jpg) no-repeat center / cover;
}

.heading-box {
  color: #343F64;
  margin: 70px 0 40px;
  text-align: center;
}

.post-name {
  font-size: 38px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #343F64;
}

.post-date {
  font-size: 14px;
  color: #3D414E;
}

.post-body {
  font-size: 20px;
  color: #111;
  margin: 20px 0 50px;
}

.post-body p,
.post-body h3 {
  margin: 1em 0;
}

.post-body h3 {
  color: #333;
}

.post-body q {
  margin: 1.2em 0;
  font-weight: lighter;
  display: block;
  font-style: italic;
  padding-left: 15px;
  border-left: 5px solid #151D3B;
}

.post-body img {
  display: block;
  margin: auto;
}

.post-body q::after,
.post-body q::before {
  content: '';
}

@media screen and (max-width: 700px) {
  .post {
    padding: 0 10px;
  }

  .post-name {
    font-size: 28px;
  }

  .post-body {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .post-name {
    font-size: 23px;
  }

  .post-date {
    font-size: 12px;
  }

  .post-body {
    font-size: 16px;
  }
}